<form id="formAddCustomer">
    <div class="form-group">
        <label>Họ và Tên:</label>
        <input id="tbx_Create_CustomerName" type="text" class="k-textbox tc" placeholder="Nhập tên khách hàng" required />
    </div>
    <div class="form-group">
        <label>Số điện thoại:</label>
        <input id="tbx_Create_Phone" type="number" class="k-textbox tc" placeholder="Nhập số điện thoại" required />
    </div>
    <div class="form-group">
        <label>Địa chỉ:</label>
        <input id="tbx_Create_Address" type="text" class="k-textbox tc" placeholder="Nhập địa chỉ" required />
    </div>
    <div class="form-group" style="bottom: 0;position: fixed;right: 15px;">
        <button class="btn btn-success btnSaveOrUpdate" style="margin: 5px 0px;">
            <i class="fa fa-save"></i> Lưu
        </button>
        <button class="btn btn-default btnResetFeild" style="margin: 5px 10px;">
            Reset
        </button>
    </div>
</form>