<form id="formConfigDiskType">
    <div class="form-group">
        <label>Thể loại:</label>
        <div class="kt-kendo-control-fix" style="display: block !important;">
            <input id="tbx_Config_Type">
        </div>
    </div>
    <div class="form-group">
        <label>Phí thuê:</label>
        <input id="tbx_Config_Charge" type="text" class="k-textbox tc" placeholder="" required />
    </div>
    <div class="form-group">
        <label>Phí phạt:</label>
        <input id="tbx_Config_LateFee" type="text" class="k-textbox tc" placeholder="" required />
    </div>
    <div class="form-group">
        <label>Hạn thuê:</label>
        <input id="tbx_Config_HireDay" type="text" class="k-textbox tc" placeholder="" required />
    </div>
    <div class="form-group" style="bottom: 0;position: fixed;right: 15px;">
        <button class="btn btn-success btnSaveOrUpdate" style="margin: 5px 0px;">
            <i class="fa fa-save"></i> Lưu
        </button>
        @*<button class="btn btn-default btnResetFeild" style="margin: 5px 10px;">
            Reset
        </button>*@
    </div>
</form>