
@{
    ViewBag.Title = "Lập phiếu thuê";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .border-right {
        border-right: 1px solid rgba(33,37,41,0.125);
        padding-right: 0px;
    }

        .border-right .k-grid {
            border-right: none;
        }

    .border-left {
        padding-left: 0px;
    }

        .border-left .k-grid {
            border-left: none;
        }

    .payment-block {
        height: 130px;
        float: unset;
        padding: 10px;
    }

    .inner-row-custom {
        height: 50%;
        width: 100%;
    }
    [aria-owns="tbxChooseCustomer_listbox"]{
        width: 240px;
        float: right;
    }
    .k-animation-container * {
        font-size: 14px;
    }
    #tbxTotalMoney {
        float: right;
        color: red;
        height: 26px;
        width: 150px;
        pointer-events: none;
    }
    .inner-row-custom .k-widget.k-numerictextbox {
        float: right;
        width: 240px;   
    }
    .k-callout-s {
        bottom: 0 !important;
    }
    .k-tooltip {
        background-color: #0000009e;
    }
    .noti-alert {
        position: absolute;
        z-index: 9999;
        font-size: 20px;
        right: 3px;
    }
    .k-tooltip-content{
        text-align:center;
    }
</style>
<div class="row">
    <div class="col-md-7 border-right">
        <div id="grid_qltd_lapphieuthue_dsdia" class="input-group input-group-sm"></div>
    </div>
    <div class="col-md-5 border-left">
        <div class="payment-block">
            <div class="col-md-9" style="height: 100%;">
                <div style="display:inline-block" class="inner-row-custom">
                    <div>
                        Tổng tiền:
                        <input id="tbxTotalMoney" type="text" style="color: red;pointer-events:none;" readonly>
                    </div>
                </div>
                <div style="display:inline-block;transform: translateY(-15px)" class="inner-row-custom">
                    <div>
                        Khách hàng:
                        <div style="float:right">
                            <div class="">
                                <select id="tbxChooseCustomer"></select>
                            </div>
                            <div style="">
                                <button id="showCustomerOnHold" class="k-button btn btn-default" disabled style="padding: 6px 8px;margin-top: 5px;" title="Khách hàng có phí trễ hạn chưa thanh toán!">
                                    <i class="far fa-money-check"></i>
                                    <i class="noti-alert hide fas fa-exclamation"></i>
                                    Đĩa đang chờ
                                </button>
                                <button id="showCustomerLateCharge" class="k-button btn btn-default" disabled style="margin-top: 5px;" title="Khách hàng có phí trễ hạn chưa thanh toán!">
                                    <i class="far fa-money-check"></i>
                                    <i class="noti-alert hide fas fa-exclamation"></i>
                                    Phí trễ hạn
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <button id="btnPayment" class="btn btn-danger" style="float:right;padding: 29px 5px;" type="button">
                    <i class="far fa-money-check-alt"></i> THANH TOÁN
                </button>
            </div>
        </div>
        <div id="grid_qltd_lapphieuthue_dshoadon" class="input-group input-group-sm"></div>
    </div>
</div>
<script>
    setup_QLTD_LPT();
</script>
