
@{
    ViewBag.Title = "Trả đĩa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row inner-row" style="padding: 0px 8px;">
    <div class="col-md-12" style="padding-right: 0px;">
        <div id="grid_qltd_TraDia" class="input-group input-group-sm"></div>
    </div>
</div>
<script>
    setup_QLTD_TraDia();
</script>
